<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Usuários</title>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app" class="app">
		<div class="nav">
			<div class="logo">
				<!-- <img src="./Assets/Images/Logo-acai-Png-1024x1024-removebg-preview (1).png" alt=""> -->
			</div>
			<div class="labs">
				<div :class="['labsItem', { 'click': inicioShow }]" @click="abrirInicio()">Início</div>
				<div :class="['labsItem', { 'click': produtosShow }]" @click="buscarProdutos()">Produtos</div>
				<div :class="['labsItem', { 'click': pedidosShow }]" @click="buscarPedidos">Pedidos</div>
			</div>
		</div>
		<div class="inicio" v-if="inicioShow">
			<!-- <button @click="buscarSugestoes">opa</button> -->
			<div class="carrossel">
				<img :src="foto.url" alt="" v-for="(foto, index) in fotosCarrossel" :key="index">
			</div>
			<div class="sugestoes">
				Sugestões
				<div class="sugestoesLista">
					<div class="sugestoesItem" v-for="sugestao in sugestoes" :key="sugestao.id"
						@click="abrirModalProdutoSugestao(sugestao)">
						<div class="imagem">
							<img :src="sugestao.url" alt="foto">
						</div>
						<div class="descricao">
							<div class="nomeProduto"> #{{sugestao.produto_id}} - {{sugestao.produto_descricao}} </div>
							<div class="acompanhamentos">Acompanhamentos - {{sugestao.acompanhamento}}</div>
							<div class="preco">Por apenas R${{sugestao.preco}}</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" tabindex="-1" id="modalProdutoSugestao">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Criar Pedido</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body" v-if="sugestaoSelecionada">
									<div class="produtoSugestao">
										<div class="produtoSugestaoTop">
											<div class="fotoSugestao">
												<img :src="sugestaoSelecionada.url" alt="">
											</div>
											<div class="sugestaoConteudo">
												<div class="conteudoDescricao">
													<div class="descricaoTop">
														{{sugestaoSelecionada.produto_descricao}} -R$ {{sugestaoSelecionada.preco}}
													</div>
													<div class="descricaoDown">
														Acompanhamentos - {{sugestaoSelecionada.acompanhamento}}
													</div>
												</div>
												<div class="contador">
													<button @click="decrementarQuantidade">-</button>
													<span>{{quantidade}}</span>
													<button @click="incrementarQuantidade">+</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
									<button type="button" class="btn btn-success" @click="editarProduto">Salvar Alterações</button>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="produtos" v-if="produtosShow">
			<div class="pesquisaCadastro">
				<div class="pesquisa">
					<div class="pesquisaTitulo">
						Produtos Cadastrados
					</div>
				</div>
				<div class="cadastro">
					<button class="cadastrar" @click="abrirModalCadastrarProduto">Cadastrar produto</button>
					<div class="modal" tabindex="-1" id="cadastrarProduto">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Cadastrar produto</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="cadastroUsuario">
										<form>
											<div class="formItem">
												<label for="">Tipo de produto</label>
												<select v-model="tipoProduto" class="form-control">
													<option value="" select disabled>Selecione um tipo</option>
													<option :value="tipo.value" v-for="(tipo, index) in tipos" :key="index">{{tipo.descricao}}
													</option>
												</select>

											</div>
											<div class="formItem">
												<label for="">Nome do produto</label>
												<input type="text" class="form-control" placeholder="Nome do produto" v-model="nomeProduto">
											</div>
											<div class="formItem">
												<label for="">Acompanhamento</label>
												<input type="text" class="form-control" placeholder="Acompanhamento" v-model="acompanhamento">
											</div>
											<div class="formItem">
												<label for="">Preco</label>
												<input type="text" class="form-control" placeholder="Preço do produto" v-model="preco">
											</div>
											<div class="formItem">
												<label for="">Url</label>
												<input type="text" class="form-control" placeholder="Url da imagem" v-model="url">
											</div>
										</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-success"
										@click="cadastrarProduto(nomeProduto, acompanhamento, preco, url, tipoProduto)">Cadastrar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="listaProdutos">
				<div class="alert alert-primary" role="alert" v-show="carregandoTabela">
					Buscando dados...
				</div>
				<div class="alert alert-danger" role="alert" v-show="erroTabela">
					Não há dados para exibir.
				</div>
				<div class="lista">
					<div class="listaItem" v-for="(produto, index) in produtos" :key="index">
						<div class="imagem">
							<img :src="produto.url" alt="">
						</div>
						<div class="conteudo">
							<div class="descricao">
								<div class="nomeProduto">
									{{produto.produto_id}} - {{produto.produto_descricao}}
								</div>
								<div class="acompanhamentoProduto">
									{{produto.acompanhamento}}
								</div>
							</div>
							<div class="opcoes">
								<button @click="abrirModalEditarProduto(produto)" class="editar">Editar</button>
								<div class="modal" tabindex="-1" id="editarProduto">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Editar produto</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="cadastroUsuario">
													<form>
														<div class="formItem">
															<label for="">Tipo de produto</label>
															<select v-model="tipoProduto" class="form-control">
																<option value="" select disabled>Selecione um tipo</option>
																<option :value="tipo.value" v-for="(tipo, index) in tipos" :key="index">
																	{{tipo.descricao}}</option>
															</select>

														</div>
														<div class="formItem">
															<label for="">Nome do produto</label>
															<input type="text" class="form-control" placeholder="Nome do produto"
																v-model="nomeProduto">
														</div>
														<div class="formItem">
															<label for="">Acompanhamento</label>
															<input type="text" class="form-control" placeholder="Acompanhamento"
																v-model="acompanhamento">
														</div>
														<div class="formItem">
															<label for="">Preco</label>
															<input type="text" class="form-control" placeholder="Preço do produto" v-model="preco">
														</div>
														<div class="formItem">
															<label for="">Url</label>
															<input type="text" class="form-control" placeholder="Url da imagem" v-model="url">
														</div>
													</form>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
												<button type="submit" class="btn btn-success"
													@click="editarProduto(nomeProduto, acompanhamento, preco, url, tipoProduto, produto.produto_id)">Salvar
													Alterações
												</button>
											</div>
										</div>
									</div>
								</div>
								<button @click="deletarProduto(produto.produto_id)" class="excluir">Excluir</button>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
		<div class="pedidos" v-if="pedidosShow">
			Pedidos
		</div>
	</div>

	<script>
		const { createApp } = Vue;

		const app = createApp({
			data() {
				return {
					produtosShow: false,
					pedidosShow: false,
					usuarios: [],
					nome: '',
					sobrenome: '',
					email: '',
					carregandoTabela: false,
					erroTabela: false,
					inicioShow: true,
					fotosCarrossel: [
						{
							id: 1,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOUUyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--328f4387362898ad17bc944e26c697702e695796/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Supreme%20Edit.png"
						},
						{
							id: 2,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOVEyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3fcedd05ee6e112fb2383403fae5b0ebab01baed/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Sensa%C3%A7%C3%A3o%20Edit.png	"
						},
						{
							id: 3,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOWMyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3a884c434ec49e1dd2c6204f5bc44dd11f560f7c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Predileto%20Edit.png"
						},
						{
							id: 4,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK3MyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3ced5140b7190ad53068faf22932f7e253970513/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Tenta%C3%A7%C3%A3o%20Edit.png"
						},
						{
							id: 5,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK3cyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--32a7fb73d25fa7332b9fa975c1f9d9f6d6b67d3e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Soberano%20Edit.png"
						},
						{
							id: 6,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMUEzQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--7c4910f3778becb321585a6880c8888aed411133/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/A%C3%A7a%C3%AD%20puro%20Edit.png"
						},
						{
							id: 7,
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOFEyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--57647a961c923013a26ca095ed5041ec967401ff/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Fruit%20Edit.png"
						},


					],
					sugestoes: [
						{
							produto_id: 1,
							produto_descricao: "Clássico",
							acompanhamento: "Açaí com leite em pó, leite condensado e calda",
							preco: "12,99",
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzAyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f0e23fac4be646b047e46f5bc99bca9883cd81a6/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Cl%C3%A1ssico%20Edit.png"
						},
						{
							produto_id: 2,
							produto_descricao: "Chocolove",
							acompanhamento: "Açaí com leite em pó, leite condensado e calda",
							preco: "14,99",
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOGsyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--cf318b9fea6f5c54c0e8d4669009f7f0757de15d/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Chocolove%20Edit.png"
						},
						{
							produto_id: 3,
							produto_descricao: "Tradicional",
							acompanhamento: "Açaí com banana, granola, leite em pó e leite condensado",
							preco: "13,99",
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOEEyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--78614a8543f5a34f05032d7db69c0cd2788d66bc/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Tradicional%20Edit.png"
						},
						{
							produto_id: 4,
							produto_descricao: "Mix",
							acompanhamento: "Açaí com gotas de chocolate, paçoquinha, leite em pó e leite condensado",
							preco: "14,99",
							url: "https://assets.menuintegrado.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOHcyQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--891bd659df8eff3e51293cb834c4b1ddcab7f7e3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQXBBQmFRS1FBUT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--a75f1ee3dfed9b508046bf53274a2ed04773a3ac/Mix%20Edit.png"
						}

					],
					tipos: [
						{ id: 1, value: "sugestao", descricao: "Sugestão" },
						{ id: 2, value: "promocao", descricao: "Promoção" }
					],
					tipoProduto: '',
					produtos: [],
					nomeProduto: '',
					acompanhamento: '',
					preco: '',
					url: '',
					produto: {}, // Produto a ser editado
					sugestaoSelecionada: null


				}
			},
			computed: {
				isFormInvalid() {
					return !this.nomeProduto || !this.acompanhamento || !this.preco || !this.url;
				},
			},
			mounted() {
				this.buscarSugestoes();
			},
			methods: {
				async buscarSugestoes() {
					try {
						const response = await axios.get('http://localhost:3000/dados-produtos/sugestoes');
						console.log("Fotos do Carrossel 1: ", response)
						if (response.data) {
							console.log("Fotos do Carrossel 2: ", response.data)
							this.sugestoes = response.data;
						}
					} catch (error) {
						console.error('Error:', error)
					}
				},
				abrirInicio() {
					this.inicioShow = true
					this.produtosShow = false
					this.pedidosShow = false
				},
				buscarPedidos() {
					this.pedidosShow = true
					this.produtosShow = false
					this.inicioShow = false
				},
				abrirModalCadastrarProduto() {
					$('#cadastrarProduto').modal('show');
				},
				abrirModalProdutoSugestao(sugestao) {
					this.sugestaoSelecionada = sugestao;
					$('#modalProdutoSugestao').modal('show');
				},
				abrirModalEditarProduto(produto) {
					$('#editarProduto').modal('show');
					this.tipoProduto = produto.tipoProduto;
					this.nomeProduto = produto.nomeProduto;
					this.acompanhamento = produto.acompanhamento;
					this.preco = produto.preco;
					this.url = produto.url;

				},

				async cadastrarProduto(nomeProduto, acompanhamento, preco, url, tipoProduto) {
					console.log("Dados:", nomeProduto, acompanhamento, preco, url, tipoProduto);

					// if (this.isFormInvalid) {
					// 	alert('Por favor, preencha todos os campos.');
					// 	return;
					// }
					try {
						const response = await axios.post('http://localhost:3000/dados-produtos/cadastrar-produto', {
							nomeProduto,
							acompanhamento,
							preco,
							url,
							tipoProduto
						});

						if (response.data.message) {
							alert("Produto cadastrado!")

							this.tipoProduto = ''
							this.nomeProduto = ''
							this.acompanhamento = ''
							this.preco = ''
							this.url = ''
							// $('#cadas').modal('hide');
						} else {
							alert("Erro ao cadastrar produto!")
						}

					} catch (error) {
						console.error('Error:', error);
						alert("Erro na requisição!")
					}
					this.buscarSugestoes();
					this.buscarProdutos();
				},

				async buscarProdutos() {
					this.produtosShow = true
					this.pedidosShow = false
					this.inicioShow = false
					try {
						const response = await axios.get('http://localhost:3000/dados-produtos/produtos');
						if (response.data.length > 0) {
							// Supondo que cada usuário tem uma propriedade 'dataCadastro' com a data
							this.produtos = response.data;
							console.log("Produtos:", this.produtos);
							// this.carregandoTabela = false;
						} else {
							// this.erroTabela = true;
							// this.carregandoTabela = false;
						}

					} catch (error) {
						console.error('Error:', error);
						// this.carregandoTabela = false;
						// this.erroTabela = true;
					}
					this.buscarSugestoes();
				},

				async editarProduto(nomeProduto, acompanhamento, preco, url, tipoProduto, id) {
					console.log("Editando:", nomeProduto, acompanhamento, preco, url, tipoProduto, id)
					this.editar = true;
					this.menssagem = '';
					try {
						const response = await axios.post('http://localhost:3000/dados-produtos/editar-produto', {
							nomeProduto, acompanhamento, preco, url, tipoProduto, id
						});

						if (response.data.message) {
							alert("produto Atualizado");
							this.nomeProduto = ''
							this.acompanhamento = ''
							this.email = ''

							$('#modalEditar').modal('hide');
						} else {
							this.menssagem = "O nome não foi Atualizado";
						}

					} catch (error) {
						console.error('Error:', error);
						this.menssagem = "O nome não foi Atualizado"
					}
					this.buscarProdutos();
				},

				async deletarProduto(id) {
					try {
						const response = await axios.post('http://localhost:3000/dados-produtos/deletar-produto', {
							id
						});

						if (response.data.message) {
							alert(`Produto ${id} deletado com sucesso!`);
							this.produtos = []
						} else {
							alert("O produto não foi deletado!");
						}

					} catch (error) {
						console.error('Error:', error);
						alert("O produto não foi deletado!");
					}
					this.buscarProdutos();
				},

				incrementarQuantidade() {
					if (this.sugestaoSelecionada) {
						this.sugestaoSelecionada.quantidade = (this.sugestaoSelecionada.quantidade || 1) + 1;
					}
				},
				decrementarQuantidade() {
					if (this.sugestaoSelecionada && this.sugestaoSelecionada.quantidade > 1) {
						this.sugestaoSelecionada.quantidade -= 1;
					}
				}
			},
		})
			.mount('#app');
	</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>