body {
  height: 100vh;
  width: 100%;
  /* background: #000; */
}
.app {
  /* height: 100%; */
  width: 100%;
  gap: 1rem;
}
.nav {
  height: 60px;
  width: 100%;
  background: rgb(166, 166, 231);
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
}
.logo{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
img{
  border: none;
  border-radius: 5px;
  background: none;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  width: 60px;
}
.labs{
  display: flex;
  gap: 12px;
}
.labsItem{
  cursor: pointer;
  transition: 300ms;
}
.labsItem:hover{
  /* text-decoration: underline; */
  color: white;
}
.click{
  text-decoration: underline;
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  /* background: green; */
}
.pesquisaCadastro {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pesquisa {
  display: flex;
  gap: 1rem;
  align-items: end;
}
.pesquisaTitulo{
  font-size: 22px;
  font-weight: 500;
}

.tabela{
  height: 60vh;
  /* padding: 1rem; */
  overflow-y: auto;
}
thead{
  position: static  ;
}
.table {
  width: 100%;
  height: 70%;
  overflow-y: auto;
}

.table th, .table td{
  /* background: red; */
  /* display: flex; */
  gap: 4px;
  /* vertical-align: middle; */
  align-items: center;
  text-align: center;

}
.botoes{
  /* background: blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}