body {
  height: 100vh;
  width: 100%;
  /* background: #000; */
}

.app {
  /* height: 100%; */
  width: 100%;
  gap: 1rem;
}

.nav {
  height: 50px;
  width: 100%;
  /* background: red; */
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  /* background: green; */
}

.pesquisaCadastro {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pesquisa {
  display: flex;
  gap: 1rem;
  align-items: end;
}
.pesquisaTitulo{
  font-size: 22px;
  font-weight: 500;
}

.tabela{
  height: 60vh;
  /* padding: 1rem; */
  overflow-y: auto;
}
thead{
  position: static  ;
}
.table {
  width: 100%;
  height: 70%;
  overflow-y: auto;
}

.table th, .table td{
  /* background: red; */
  /* display: flex; */
  gap: 4px;
  /* vertical-align: middle; */
  align-items: center;
  text-align: center;

}
.botoes{
  /* background: blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}